.animated-title-01 {
  display: none;
}

#intro-1:checked ~ .intro-1 .intro-inner .animated-title-01 {
  display: block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #ffffff;
  height: 87rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 400;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span:first-child {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
  div.text-bottom {
    bottom: 0;

    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      font-weight: 200;
      button {
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
      }
    }
  }
}

.animated-title-02 {
  display: none;
}

#intro-2:checked ~ .intro-2 .intro-inner .animated-title-02 {
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 45rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 40%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span {
      font-size: 3.4rem;
      font-weight: 300;
    }
  }
  div.text-middle {
    bottom: 7.5rem;
    div {
      top: 0;
      transform: translate(0, -100%);
      span {
        font-size: 1.8rem;
        font-weight: 200;
      }
    }
  }
  div.text-bottom {
    bottom: 0;
    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      button {
        font-size: 1.2rem;
        color: #ffffff;
      }
    }
  }
}

.animated-title-03 {
  display: none;
}

#intro-3:checked ~ .intro-3 .intro-inner .animated-title-03 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 45rem;
  color: #ffffff;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 30%;
    overflow: hidden;
    text-align: center;
    div span {
      display: block;
    }
  }
  div.text-top {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
    overflow: hidden;
    text-align: center;
    div {
     font-size: 3.4rem;
     font-weight: 300;
     text-align: center;
     opacity: 0;
    }
  }
  div.text-middle {
    position: absolute;
    top: 34%;
    bottom: 7.5rem;
    width: 100%;
    height: 30%;
    overflow: hidden;
    span {
      font-size: 1.8rem;
      font-weight: 200;
      opacity: 0;
    }
  }
  div.text-bottom {
    bottom: 20%;
    text-align: center;
    div {
      opacity: 0;
      button {
        font-size: 1.2rem;
        color: #ffffff;
      }
    }
  }
}


.animated-title-04 {
  display: none;
}

#intro-4:checked ~ .intro-4 .intro-inner .animated-title-04 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 45rem;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }
  div.text-top {
    top: 20%;
    width: 100%;
    div {
      transform: translate(200%, 0);
      font-size: 3.4rem;
      font-weight: 300;
      text-align: center;
    }
  }
  div.text-right {
    top: 37%;
    text-align: center;
    span {
      display: block;
      transform: translate(200%, 0);
      width: 100%;
      font-size: 1.8rem;
      font-weight: 200;
      text-align: center;
    }
    span:nth-child(1) {
      bottom: 0;
    }
  }
  div.text-bottom {
    display: block;
    top: 48%;
    bottom: 0;
    transform: translate(200%, 0);
    text-align: center;
    button {
      font-size: 1.2rem;
      color: #ffffff;
    }
  }
}

.animated-title-05 {
  display: none;
}

#intro-5:checked ~ .intro-5 .intro-inner .animated-title-05 {
  display: block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #ffffff;
  height: 87rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 400;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span:first-child {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
  div.text-bottom {
    bottom: 0;

    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      font-weight: 200;
      button {
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
      }
    }
  }
}

.animated-title-06 {
  display: none;
}

#intro-6:checked ~ .intro-6 .intro-inner .animated-title-06 {
  display: block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #ffffff;
  height: 87rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 400;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span:first-child {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
  div.text-bottom {
    bottom: 0;

    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      font-weight: 200;
      button {
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
      }
    }
  }
}

.animated-title-07 {
  display: none;
}

#intro-7:checked ~ .intro-7 .intro-inner .animated-title-07 {
  display: block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #ffffff;
  height: 87rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 400;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span:first-child {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
  div.text-bottom {
    bottom: 0;

    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      font-weight: 200;
      button {
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
      }
    }
  }
}

.animated-title-08 {
  display: none;
}

#intro-8:checked ~ .intro-8 .intro-inner .animated-title-08 {
  display: block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #ffffff;
  height: 87rem;
  width: 100%;
  text-align: center;
  z-index: 9;
  > div {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    div {
      position: absolute;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 400;
      text-align: center;
      span {
        display: block;
      }
    }
  }
  div.text-top div {
    bottom: 0;
    transform: translate(0, 100%);
    span:first-child {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
  div.text-bottom {
    bottom: 0;

    div {
      top: 0;
      transform: translate(0, -100%);
      font-size: 1.8rem;
      font-weight: 200;
      button {
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
      }
    }
  }
}
