
// 끝자리 숫자는 delay 시간,
// 첫째 자리 숫자 뒤에 .을 붙이고 초로 계산
// ex) 05의 경우 0.5s, 175의 경우 1.75s, 1의 경우 1s
// 숫자가 없을 경우 딜레이가 없다.


//////////////////////////
// intro-1, 2 animation //
//////////////////////////

.ani-showtoptext-delay-05 { //아래서 위로
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.ani-showmiddletext-delay-05 { //위에서 아래로
  animation: showMiddleText 0.5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.ani-showbottomtext-delay-05 { //위에서 아래로
  animation: showBottomText 0.5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.ani-showbottomtext-delay-175 { //위에서 아래로
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
}

///////////////////////
// intro-3 animation //
///////////////////////

.ani-showfade-delay-06 { //fade 효과
  animation: showFade .8s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

.ani-showfade-delay-1 { //fade 효과
  animation: showFade .8s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.ani-showfade-delay-14 { //fade 효과
  animation: showFade .8s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

.ani-showfade-delay-18 { //fade 효과
  animation: showFade .8s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

///////////////////////
// intro-4 animation //
///////////////////////

.ani-showrighttext { //오른쪽에서 왼쪽
  animation: showRightText 0.8s;
  // animation-delay: .5s;
  animation-fill-mode: forwards;
}

.ani-showrighttext-delay-05 { //오른쪽에서 왼쪽
  animation: showRightText 0.8s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.ani-showrighttext-delay-1 { //오른쪽에서 왼쪽
  animation: showRightText 0.8s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.ani-showrighttext-delay-15 { //오른쪽에서 왼쪽
  animation: showRightText 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.ani-showrighttext-delay-2 { //오른쪽에서 왼쪽
  animation: showRightText 0.8s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

///////////////////////
// bounce animation  //
///////////////////////

.ani-bounce-delay-03 { //튕기는 효과
  animation: bounce;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: 1;
}

.ani-bounce-delay-08 { //튕기는 효과
  animation: bounce;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-iteration-count: 1;
}

.ani-bounce-delay-13 { //튕기는 효과
  animation: bounce;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-iteration-count: 1;
}

.ani-bounce-delay-18 { //튕기는 효과
  animation: bounce;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-iteration-count: 1;
}

///////////////////////
//  scale animation  //
///////////////////////

.ani-scale { //점점 커짐 1배 0~1
  animation: scale;
  animation-duration: 1s;
  // animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-scale-delay-05 { //점점 커짐 1배 0~1
  animation: scale;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ani-scale-delay-15 { //점점 커짐 1배 0~1
  animation: scale;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-scalebig { //점점 커짐 3배, opacity: 1~0
  animation: scalebig;
  animation-duration: 2s;
  // animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-scalesmall-delay-08 { //점점 커짐 1.05배
  animation: scalesmall;
  animation-duration: 2s;
  animation-delay: .8s;
  animation-iteration-count: infinite;
}

.ani-scalesmall-delay-1 { //점점 커짐 1.05배
  animation: scalesmall;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

///////////////////////
//  pulse animation  //
///////////////////////

.ani-pulse-delay-1 { //box-shadow 2.8em 밝은 빨간색
  animation: pulse;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.ani-pulse-02-delay-1 { //box-shadow 1.5em 조금 덜 밝은 빨간색
  animation: pulse02;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.ani-pulseblack-delay-15 { //box-shadow 1.5em 검은색
  animation: pulseblack;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 9;
}

///////////////////////
//  line animation  ///
///////////////////////

.ani-linewidth { //width 10rem
  animation: linewidth;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-linewidth-delay-3 { //width 10rem
  animation: linewidth;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-linewidth02-delay-05 { //width 45rem
  animation: linewidth02;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-linewidth03-delay-03 { //width 10rem
  animation: linewidth03;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-lineopacity-delay-05 { //width 8rem
  animation: lineopacity;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-lineopacity-delay-1 { //width 8rem
  animation: lineopacity;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-lineheight-delay-1 { //height 30rem
  animation: lineheight;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: both;
  animation-fill-mode: both;
}

///////////////////////
///  dot animation  ///
///////////////////////

.ani-dot-delay-05 { //background color 변경
  animation: dot;
  animation-duration: .5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.ani-dot-delay-1 { //background color 변경
  animation: dot;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

.ani-dot-delay-15 { //background color 변경
  animation: dot;
  animation-duration: .5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  // animation-fill-mode: both;
}

///////////////////////
/// shake animation  //
///////////////////////

.ani-shake { //좌우로 움직임
  animation: shake;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-iteration-count: 5;
}

///////////////////////
/// move animation  ///
///////////////////////

.ani-moveup { //위로 이동
  animation: moveup;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: both;
  animation-fill-mode: both;
}

.ani-moveright {
  animation: moveright;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ani-moveleft {
  animation: moveleft;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
