header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1rem solid #000000;
  background: #00000;
  width: 100%;
  height: 7rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  .header-logo {
    display: inline-block;
    width: 20rem;
    height: 5rem;
    background: url("../images/lihasium-logo.png") no-repeat center center;
    background-size: 15rem;
  }
}