.slide-box {
  display: block;
  width: 100%;
  height: 85rem;
  padding: 0;
  position: relative;
  z-index: 0;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    input[type=radio] {
      display: none;
    }
    .intro-open:checked + .main-explain {
      opacity: 1;
    }
    .main-explain {
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      border-bottom: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;
      .intro-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 204rem;
        margin: 0 auto;
      }
    }
    .indicator {
      position: absolute;
      width: 100%;
      top: 98%;
      left: 50%;
      transform: translate( -50%, -50%);
      z-index: 999;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          label {
            cursor: pointer;
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 0 .5rem 0 .5rem;
            border: .1rem solid #4855a0;
            border-radius: 50%;
            &.active,
            &:hover,
            &:active {
              background: #ffffff;
            }
          }
        }
      }
    }
  }
}

.intro-1 {
  background: orange;
  background: url("../images/slide-01.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-2 {
  background: blue;
  background: url("../images/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-3 {
  background: red;
  background: url("../images/bg-02.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-4 {
  background: orange;
  background: url("../images/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

div.control-box {
  position: absolute;
  top: 45%;
  height: 10rem;
  width: 100%;
  z-index: 999;
  .intro-control {
    border-radius: 50%;
    cursor: pointer;
    display: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    &.prev {
      width: 4rem;
      height: 4rem;
      //background: #000000;
      background: #ffffff url("../images/icon-arrow-left.png");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center center;
      border: .1rem solid #000000;
      left: 2rem;
      opacity: .8;
    }
    &.next {
      width: 4rem;
      height: 4rem;
      //background: #000000;
      background: #ffffff url("../images/icon-arrow-right.png");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center center;
      border: .1rem solid #000000;
      border-radius: 50%;
      right: 2rem;
      opacity: .8;
    }
  }
}

.intro-control:hover {
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center center;
}

#intro-1:checked ~ .control-box .control-1,
#intro-2:checked ~ .control-box .control-2,
#intro-3:checked ~ .control-box .control-3,
#intro-4:checked ~ .control-box .control-4 {
  display: block;
}

#intro-1:checked ~ .intro-1 ~ .indicator li:nth-child(1) label,
#intro-2:checked ~ .intro-2 ~ .indicator li:nth-child(2) label,
#intro-3:checked ~ .intro-3 ~ .indicator li:nth-child(3) label,
#intro-4:checked ~ .intro-4 ~ .indicator li:nth-child(4) label {
  background: #7caed4;
}