.slide-box {
  display: block;
  width: auto;
  padding: 0;
  position: relative;
  .intro {
    //height: 100%;
    .intro-inner {
      width: 100%;
      //height: 100%;
    }
  }
}


.slide-box {
  width: 100%;
  height: 73rem;
  //position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  .inner {
    position: relative;
    width: 100%;
    height: 73rem;
    input[type=radio] {
      display: none;
    }
    .intro-open:checked + .main-explain {
      opacity: 1;
    }
    .main-explain {
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      border-bottom: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;
      .intro-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 204rem;
        margin: 0 auto;
      }
    }
    .indicator {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translate( -50%, -50%);
      z-index: 999;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          label {
            cursor: pointer;
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 0 .5rem 0 .5rem;
            border: .1rem solid #4855a0;
            border-radius: 50%;
            &.active,
            &:hover,
            &:active {
              background: #ffffff;
            }
          }
        }
      }
    }
  }
}

.intro-1 {
  background: orange;
  background: url("../images/slide-01.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-2 {
  background: blue;
  background: url("../images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-3 {
  background: red;
  background: url("../images/bg-02.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-4 {
  background: orange;
  background: url("../images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-5 {
  background: orangered;
  background: url("../images/bg-02.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-6 {
  background: skyblue;
  background: url("../images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-7 {
  background: orangered;
  background: url("../images/bg-02.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-8 {
  background: palevioletred;
  background: url("../images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

div.control-box {
  position: absolute;
  top: 45%;
  //right: 20%;
  //transform: translate( -50%, -50%);
  //width: 100%;
  height: 10rem;
  width: 100%;
  z-index: 999;
  .intro-control {
    border-radius: 50%;
    cursor: pointer;
    display: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    //bottom: 5rem;
    &.prev {
      width: 4rem;
      height: 4rem;
      background: #000000;
      //background: url('../images/icon-arrow.png');
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center center;
      border: .1rem solid #ffffff;
      left: 2rem;
      //bottom: 5.4rem;
      //transform: translate(50%, 50%) rotate(180deg);
    }
    &.next {
      width: 4rem;
      height: 4rem;
      background: #000000;
      //background: #231f20 url('../images/icon-arrow.png');
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center center;
      border-radius: 50%;
      right: 2rem;
    }
  }
}

.intro-control:hover {
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center center;
}

#intro-1:checked ~ .control-box .control-1,
#intro-2:checked ~ .control-box .control-2,
#intro-3:checked ~ .control-box .control-3,
#intro-4:checked ~ .control-box .control-4,
#intro-5:checked ~ .control-box .control-5,
#intro-6:checked ~ .control-box .control-6,
#intro-7:checked ~ .control-box .control-7,
#intro-8:checked ~ .control-box .control-8,{
  display: block;
}

#intro-1:checked ~ .intro-1 ~ .indicator li:nth-child(1) label,
#intro-2:checked ~ .intro-2 ~ .indicator li:nth-child(2) label,
#intro-3:checked ~ .intro-3 ~ .indicator li:nth-child(3) label,
#intro-4:checked ~ .intro-4 ~ .indicator li:nth-child(4) label,
#intro-5:checked ~ .intro-5 ~ .indicator li:nth-child(5) label,
#intro-6:checked ~ .intro-6 ~ .indicator li:nth-child(6) label,
#intro-7:checked ~ .intro-7 ~ .indicator li:nth-child(7) label,
#intro-8:checked ~ .intro-8 ~ .indicator li:nth-child(8) label,{
  background: #7caed4;
}